@model AssetTracker.Core.Models.PurchaseOrder
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Category Setup</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </head>

    <body>
        <div>
            <div class="">
                <h1>.</h1>
                <h1>.</h1>
                <h2><b><i> PURCHASE ORDER</i></b></h2>
            </div>
            @using (Html.BeginForm("Index", "PurchaseOrder"))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            @Html.LabelFor(c => c.ReferenceName)
                            @Html.TextBoxFor(c => c.ReferenceName, new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(c=>c.PurchaseDate)
                            @Html.EditorFor(c=>c.PurchaseDate, new { @class = "date-picker" })
                        </div>


                      
                            
                            <button class="btn-primary">Submit</button>
                       

                       
                    </div>
                </div>
            }

        </div>

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Asset/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="~/Asset/js/jquery-1.12.1.min.js"></script>
        <!-- jQuery REVOLUTION Slider -->
        <script type="text/javascript" src="~/Asset/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="~/Asset/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <script src="~/Asset/js/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/_ajax.js"></script>
        <!-- jQuery REVOLUTION Slider JvacriptCode -->
        <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })
        </script>
        
    </body>
</html>

