
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Asset/rs-plugin/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Asset/css/style.css" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>BITM ASSET TRACKING SYSTEM</title>

<!-- Bootstrap -->
<link href="~/Asset/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Asset/css/style.css" rel="stylesheet" />
<head>

    <body>

        <!-- SPECIFIC PAGE LEVEL IMPLEMENTATION-->
        <div class="fullscreen-container" style="margin-top: 112px">
            <div class="fullscreenbanner">
                <ul>
                    <!-- ************ Slide-1 Starts ************ -->

                    <li data-transition="boxslide" data-slotamount="20" data-link="" data-masterspeed="500" data-delay="7000">
                        <img src="~/Asset/Images/images/banner1.jpg" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">

                        <div class="caption sfr str big_white"
                             data-x="20"
                             data-y="100"
                             data-speed="500"
                             data-start="1500"
                             data-easing="easeInOut"
                             data-endspeed="500"
                             data-end="5000"
                             data-endeasing="easeInElastic">

                        </div>
                        <div class="caption sfb ltr big_white"
                             data-x="20"
                             data-y="200"
                             data-speed="600"
                             data-start="2000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="5500"
                             data-endeasing="easeInElastic">

                        </div>
                        <div class="caption lfr ltr big_white"
                             data-x="20"
                             data-y="250"
                             data-speed="700"
                             data-start="2500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="6000"
                             data-endeasing="easeInElastic">

                        </div>
                        <div class="caption lfr ltr big_white"
                             data-x="20"
                             data-y="300"
                             data-speed="800"
                             data-start="3000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="6500"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-1_c-4.png" alt="">
                        </div>
                    </li>

                    <!-- ************ Slide-2 Starts ************ -->

                    <li data-transition="cube" data-slotamount="20" data-link="" data-masterspeed="500" data-delay="6500">
                        <img src="~/Asset/Images/images/banner2.jpg" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">

                        <div class="caption sft str big_white"
                             data-x="20"
                             data-y="100"
                             data-speed="500"
                             data-start="1500"
                             data-easing="easeInOut"
                             data-endspeed="500"
                             data-end="5000"
                             data-endeasing="easeInElastic">

                        </div>
                        <div class="caption sft ltr big_white"
                             data-x="20"
                             data-y="200"
                             data-speed="600"
                             data-start="2000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="5500"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-2_c-2.png" alt="">
                        </div>
                        <div class="caption sft ltr big_white"
                             data-x="20"
                             data-y="350"
                             data-speed="700"
                             data-start="2500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="6000"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-2_c-3.png" alt="">
                        </div>
                    </li>

                    <!-- ************ Slide-3 Starts ************ -->

                    <li data-transition="incube" data-slotamount="20" data-link="" data-masterspeed="500" data-delay="7500">
                        <img src="~/Asset/Images/images/banner3.jpg" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">

                        <div class="caption sft stt big_white"
                             data-x="20"
                             data-y="100"
                             data-speed="500"
                             data-start="1500"
                             data-easing="easeInOut"
                             data-endspeed="500"
                             data-end="5000"
                             data-endeasing="easeInElastic">

                        </div>
                        <div class="caption sft stt big_white"
                             data-x="20"
                             data-y="200"
                             data-speed="600"
                             data-start="2000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="5500"
                             data-endeasing="easeInElastic">

                        </div>
                        <div class="caption sft stt big_white"
                             data-x="20"
                             data-y="250"
                             data-speed="700"
                             data-start="2500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="6000"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-3_c-3.png" alt="">
                        </div>
                        <div class="caption sft stt big_white"
                             data-x="20"
                             data-y="320"
                             data-speed="800"
                             data-start="3000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="6500"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-3_c-4.png" alt="">
                        </div>
                        <div class="caption sft stt big_white"
                             data-x="700"
                             data-y="150"
                             data-speed="800"
                             data-start="3500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="7000"
                             data-endeasing="easeInElastic">

                        </div>
                    </li>

                    <!-- ************ Slide-4 Starts ************ -->
                    <!--   <li data-transition="curtain-1" data-slotamount="20" data-link="" data-masterspeed="500" data-delay="6500">
                            <img src="Images/images/banner4.jpg" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">

                            <div class="caption sfl str big_white"
                                 data-x="20"
                                 data-y="100"
                                 data-speed="500"
                                 data-start="1500"
                                 data-easing="easeInOut"
                                 data-endspeed="500"
                                 data-end="5000"
                                 data-endeasing="easeInElastic">
                                <img src="Images/images/b-4_c-1.png" alt="">
                            </div>
                            <div class="caption sfl str big_white"
                                 data-x="20"
                                 data-y="200"
                                 data-speed="600"
                                 data-start="2000"
                                 data-easing="easeOutBack"
                                 data-endspeed="500"
                                 data-end="5500"
                                 data-endeasing="easeInElastic">
                                <img src="Images/images/b-4_c-2.png" alt="">
                            </div>
                            <div class="caption sfl str big_white"
                                 data-x="20"
                                 data-y="350"
                                 data-speed="700"
                                 data-start="2500"
                                 data-easing="easeOutBack"
                                 data-endspeed="500"
                                 data-end="6000"
                                 data-endeasing="easeInElastic">
                                <img src="Images/images/b-4_c-3.png" alt="">
                            </div>
                        </li>-->
                    <!-- ************ Slide-5 Starts ************ -->

                    <li data-transition="curtain-3" data-slotamount="20" data-link="" data-masterspeed="800" data-delay="10500">
                        <img src="~/Asset/Images/images/banner5.jpg" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">

                        <div class="caption sfl str big_white"
                             data-x="20"
                             data-y="100"
                             data-speed="500"
                             data-start="1500"
                             data-easing="easeInOut"
                             data-endspeed="500"
                             data-end="6000"
                             data-endeasing="easeInElastic">

                        </div>
                        <div class="caption sfl str big_white"
                             data-x="20"
                             data-y="200"
                             data-speed="600"
                             data-start="2000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="6500"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-2.png" alt="">
                        </div>
                        <div class="caption sfl str big_white"
                             data-x="20"
                             data-y="350"
                             data-speed="700"
                             data-start="2500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="7000"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-3.png" alt="">
                        </div>
                        <div class="caption sfl str big_white"
                             data-x="600"
                             data-y="100"
                             data-speed="700"
                             data-start="3000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="7500"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-4.png" alt="">
                        </div>
                        <div class="caption sfl str big_white"
                             data-x="600"
                             data-y="150"
                             data-speed="700"
                             data-start="3500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="8000"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-5.png" alt="">
                        </div>
                        <div class="caption sfl str big_white"
                             data-x="600"
                             data-y="200"
                             data-speed="700"
                             data-start="4000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="8500"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-6.png" alt="">
                        </div>
                        <div class="caption sfl str big_white"
                             data-x="600"
                             data-y="250"
                             data-speed="700"
                             data-start="4500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="9000"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-7.png" alt="">
                        </div>
                        <div class="caption sfl str big_white"
                             data-x="600"
                             data-y="300"
                             data-speed="700"
                             data-start="5000"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="9500"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-8.png" alt="">
                        </div>
                        <div class="caption sfl str big_white"
                             data-x="600"
                             data-y="350"
                             data-speed="700"
                             data-start="5500"
                             data-easing="easeOutBack"
                             data-endspeed="500"
                             data-end="10000"
                             data-endeasing="easeInElastic">
                            <img src="~/Asset/Images/images/b-5_c-9.png" alt="">
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <div class="row">
            <!--- Middle Contents -->
            <div class="container center" style="margin-top: 50px">
                <div class="row">
                    <div class="col-lg-4">
<head>
                        <img class="img-circle" src="~/Asset/Images/Thumb01.jpg" alt="thumb01" width="140" height="140" />
                        <h2>Desktops</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nunc eu felis mollis suscipit. Vivamus at turpis nisi. Nam a metus ac velit malesuada accumsan vel ut mauris. Proin eleifend orci tempor, faucibus felis sagittis, auctor ante. Fusce quis pellentesque metus, eu dictum est. Quisque finibus urna ac metus placerat, id porttitor ligula luctus. Nullam tincidunt, lorem at tincidunt dignissim, purus nunc tincidunt enim, vitae aliquam ante orci efficitur leo. Vivamus ac pretium libero. Quisque venenatis leo vel nibh pretium malesuada. Phasellus aliquam nunc vel e</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">View &raquo;</a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-circle" src="~/Asset/Images/Thumb02.jpg" alt="thumb02" width="140" height="140" />
                        <h2>Accessories</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nunc eu felis mollis suscipit. Vivamus at turpis nisi. Nam a metus ac velit malesuada accumsan vel ut mauris. Proin eleifend orci tempor, faucibus felis sagittis, auctor ante. Fusce quis pellentesque metus, eu dictum est. Quisque finibus urna ac metus placerat, id porttitor ligula luctus. Nullam tincidunt, lorem at tincidunt dignissim, purus nunc tincidunt enim, vitae aliquam ante orci efficitur leo. Vivamus ac pretium libero. Quisque venenatis leo vel nibh pretium malesuada. Phasellus aliquam nunc vel e</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">View &raquo;</a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-circle" src="~/Asset/Images/Thumb03.jpg" alt="thumb03" width="140" height="140" />
                        <h2>Others</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nunc eu felis mollis suscipit. Vivamus at turpis nisi. Nam a metus ac velit malesuada accumsan vel ut mauris. Proin eleifend orci tempor, faucibus felis sagittis, auctor ante. Fusce quis pellentesque metus, eu dictum est. Quisque finibus urna ac metus placerat, id porttitor ligula luctus. Nullam tincidunt, lorem at tincidunt dignissim, purus nunc tincidunt enim, vitae aliquam ante orci efficitur leo. Vivamus ac pretium libero. Quisque venenatis leo vel nibh pretium malesuada. Phasellus aliquam nunc vel e</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">View &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--- Middle Contents End -->
        <!--- Footer -->
        <div class="row">
            <hr />

            <footer>
                <div class="container">
                    <p class="pull-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p>
                        &copy; BITM &middot; <a href="#">Home</a> &middot; <a href="#">About</a> &middot; <a href="#">Contact</a> &middot; <a href="#">Products</a>
                    </p>
                </div>
            </footer>
        </div>
        <!--- Footer -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="~/Asset/js/jquery-1.12.1.min.js"></script>
        <!-- jQuery REVOLUTION Slider -->
        <script type="text/javascript" src="~/Asset/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="~/Asset/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <script src="~/Asset/js/bootstrap.min.js"></script>
        <script src="~/Asset/Scripts/jquery.validate.min.js"></script>
        <script src="~/Asset/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <!-- jQuery REVOLUTION Slider JvacriptCode -->

        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('.fullscreenbanner').revolution({
                    delay: 9000,
                    startwidth: 960,
                    startheight: 500,
                    autoHeight: "off",
                    fullScreenAlignForce: "off",

                    onHoverStop: "on",

                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 3,

                    hideThumbsOnMobile: "on",
                    hideBulletsOnMobile: "on",
                    hideArrowsOnMobile: "on",
                    hideThumbsUnderResoluition: 0,

                    hideThumbs: 0,
                    hideTimerBar: "off",

                    keyboardNavigation: "on",

                    navigationType: "bullet",
                    navigationArrows: "solo",
                    navigationStyle: "navbar-old",

                    navigationHAlign: "center",
                    navigationVAlign: "bottom",
                    navigationHOffset: 30,
                    navigationVOffset: 30,

                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,

                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,


                    touchenabled: "on",
                    swipe_velocity: "0.7",
                    swipe_max_touches: "1",
                    swipe_min_touches: "1",
                    drag_block_vertical: "false",

                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    hideSliderAtLimit: 0,

                    dottedOverlay: "none",

                    fullWidth: "on",
                    forceFullWidth: "off",
                    fullScreen: "off",
                    fullScreenOffsetContainer: "#topheader-to-offset",

                    shadow: 0

                });

            });

        </script>
    </body>

