
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Asset/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Asset/css/style.css" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BITM ASSET TRACKING SYSTEM</title>

    <!-- Bootstrap -->
    <link href="~/Asset/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Asset/css/style.css" rel="stylesheet" />

</head>
    <body>
        <h1>Asset Tracking System</h1>

        <div class="row">
            <!--- Middle Contents -->
            <div class="container center" style="margin-top: 50px">
                <div class="row">
                    <div class="col-lg-4">

                        <img class="img-circle" src="~/Asset/Images/Thumb01.jpg" alt="thumb01" width="140" height="140" />
                        <h2>Desktops</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nunc eu felis mollis suscipit. Vivamus at turpis nisi. Nam a metus ac velit malesuada accumsan vel ut mauris. Proin eleifend orci tempor, faucibus felis sagittis, auctor ante. Fusce quis pellentesque metus, eu dictum est. Quisque finibus urna ac metus placerat, id porttitor ligula luctus. Nullam tincidunt, lorem at tincidunt dignissim, purus nunc tincidunt enim, vitae aliquam ante orci efficitur leo. Vivamus ac pretium libero. Quisque venenatis leo vel nibh pretium malesuada. Phasellus aliquam nunc vel e</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">View &raquo;</a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-circle" src="~/Asset/Images/Thumb02.jpg" alt="thumb02" width="140" height="140" />
                        <h2>Accessories</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nunc eu felis mollis suscipit. Vivamus at turpis nisi. Nam a metus ac velit malesuada accumsan vel ut mauris. Proin eleifend orci tempor, faucibus felis sagittis, auctor ante. Fusce quis pellentesque metus, eu dictum est. Quisque finibus urna ac metus placerat, id porttitor ligula luctus. Nullam tincidunt, lorem at tincidunt dignissim, purus nunc tincidunt enim, vitae aliquam ante orci efficitur leo. Vivamus ac pretium libero. Quisque venenatis leo vel nibh pretium malesuada. Phasellus aliquam nunc vel e</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">View &raquo;</a>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-circle" src="~/Asset/Images/Thumb03.jpg" alt="thumb03" width="140" height="140" />
                        <h2>Others</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nunc eu felis mollis suscipit. Vivamus at turpis nisi. Nam a metus ac velit malesuada accumsan vel ut mauris. Proin eleifend orci tempor, faucibus felis sagittis, auctor ante. Fusce quis pellentesque metus, eu dictum est. Quisque finibus urna ac metus placerat, id porttitor ligula luctus. Nullam tincidunt, lorem at tincidunt dignissim, purus nunc tincidunt enim, vitae aliquam ante orci efficitur leo. Vivamus ac pretium libero. Quisque venenatis leo vel nibh pretium malesuada. Phasellus aliquam nunc vel e</p>
                        <p>
                            <a class="btn btn-default" href="#" role="button">View &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--- Middle Contents End -->
        <!--- Footer -->
        <div class="row">
            <hr />

            <footer>
                <div class="container">
                    <p class="pull-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p>
                        &copy; BITM &middot; <a href="#">Home</a> &middot; <a href="#">About</a> &middot; <a href="#">Contact</a> &middot; <a href="#">Products</a>
                    </p>
                </div>
            </footer>
        </div>
        <!--- Footer -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->



 
    </body>

